<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>test01</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FilterEncoding</display-name>
    <servlet-name>FilterEncoding</servlet-name>
    <servlet-class>com.tku.leave.filter.FilterEncoding</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilterEncoding</servlet-name>
    <url-pattern>/FilterEncoding</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.tku.leave.controller.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MangerServlet</display-name>
    <servlet-name>MangerServlet</servlet-name>
    <servlet-class>com.tku.leave.controller.MangerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MangerServlet</servlet-name>
    <url-pattern>/MangerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerServlet</display-name>
    <servlet-name>ManagerServlet</servlet-name>
    <servlet-class>com.tku.leave.controller.ManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerServlet</servlet-name>
    <url-pattern>/ManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.tku.leave.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdministratorServlet</display-name>
    <servlet-name>AdministratorServlet</servlet-name>
    <servlet-class>com.tku.leave.controller.AdministratorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdministratorServlet</servlet-name>
    <url-pattern>/AdministratorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerServletClass</display-name>
    <servlet-name>ManagerServletClass</servlet-name>
    <servlet-class>com.tku.leave.controller.ManagerServletClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerServletClass</servlet-name>
    <url-pattern>/ManagerServletClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerServletAdyear</display-name>
    <servlet-name>ManagerServletAdyear</servlet-name>
    <servlet-class>com.tku.leave.controller.ManagerServletAdyear</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerServletAdyear</servlet-name>
    <url-pattern>/ManagerServletAdyear</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerServletMax</display-name>
    <servlet-name>ManagerServletMax</servlet-name>
    <servlet-class>com.tku.leave.controller.ManagerServletMax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerServletMax</servlet-name>
    <url-pattern>/ManagerServletMax</url-pattern>
  </servlet-mapping>
</web-app>